@model ForumIndexModel

@{
    ViewBag.Title = "Forums";
}

<h1>Forums</h1>

<table class="table table-hover" id="forumIndexTable">
    <thead>
        <tr>
            <th>Title</th>
          <th> Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forum in @Model.ListOfForums)
        {
        <tr class="assetRow">

            <td class="">
                <a asp-controller="Forum" asp-action="Topic" asp-route-Id="@forum.Id">
                    @forum.Title
                </a>
            </td>

            <td class="">
                @forum.Description
            </td>
        </tr>
        }
    </tbody>

</table>